.register-container {
  display: flex;
  flex-direction: column;
}

.resiter-form-head{
  text-align: center;
}

.register-form{
  margin: 0 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  border-radius: 20px;
}

.register-form-div{
  display: grid;
  grid-template-columns: 1fr 2fr;  
  gap: 20px;
  align-items: center;
}

.register-form-label{
  text-align: left;
  /* background-color: #49fca8; */
  border-radius: 10px;
  padding: 10px;
}

.register-form-input{
  padding: 10px;
  border-radius: 10px;
  outline: none;
}

.attendance-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 90%;
  margin: 0 auto;
  /* background-color: #edeade; */
}

th {
  text-align: center;
  padding: 10px;
  border: 1px solid black;
}

td {
  text-align: left;
  padding: 10px;
  border: 1px solid black;
}

th:first-child, td:first-child {
  width: 8%;
}

body
{
  counter-reset: Serial;           /* Set the Serial counter to 0 */
}

tr td:first-child:before
{
counter-increment: Serial;      /* Increment the Serial counter */
content: counter(Serial); /* Display the counter */
}
